<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <title>The Banana Leaf | Login as Admin</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="min-h-screen">
            <div class="container py-5">
                <h1 class="text-4xl font-semibold mt-16 mb-8">Login To Your Account</h1>

                <form action="/users/login" method="post">
                    <div class="my-4 grid gap-1">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-input w-max" required>
                    </div>

                    <div class="my-4 grid gap-1">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-input w-max" required>
                    </div>

                    <p class="mb-6">
                        Not an admin?
                        <a href="#" class="text-green-600 underline">Send us a request</a>
                    </p>

                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>