<footer class="bg-black text-white text-center">
    <div class="container py-8">
        <p class="mb-4 text-gray-300">&copy; Copyright 2022 | The Banana Leaf</p>

        <nav>
            <ul class="flex gap-4 justify-center">
                <li><a href="#!">About Us</a></li>
                <li><a href="#!">Privacy Policy</a></li>
                <li><a href="#!">Terms and Conditions</a></li>
                <li><a href="/users">Admins</a></li>
            </ul>
        </nav>
    </div>
</footer>